html {
  font-size: 62.5%;
}

body {
  --bg-color: AliceBlue;
  --txt-color: #333;
  --primary-color: tomato;
  --secondary-color: MediumSeaGreen;
  --tertiary-color: SteelBlue;
  --tertiary-color-rgb: 70, 130, 180;
  --quaternary-color: DimGray;

  background-color: var(--bg-color);

  &.secondary-theme {
    --bg-color: DarkSlateGray;
    --txt-color: Gainsboro;
    --primary-color: Goldenrod;
    --secondary-color: MediumOrchid;
    --tertiary-color: Crimson;
    --tertiary-color-rgb: 220, 20, 60;
    --quaternary-color: DarkBlue;
  }
}

.app {
  margin: 15px;
  padding: 30px 15px;
  border: 1px solid gainsboro;
  border-radius: 3px;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--txt-color);
  
  &__title {
    font-size: 2.8rem;
    font-weight: 300;
  }
}


.problems {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px dotted Gainsboro;


  
  &__title {
    font-weight: 500;
    font-size: 1.8rem;
    padding-bottom: 10px;
  }

  &__item:not(:last-child) {
    padding-bottom: 15px;
  }

  p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;

    &.solution {
      padding: 5px 0 0 5px;
    } 
  }

}

